{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Operators {% endblock %}</h1>
     <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>ID</th>
               <th>Monitored?</th>
            </tr>
         </thead>

         <tbody>
            {% for operator in operators %}
               <tr>
                  <td>{{ operator.name }}</td>
                  <td>{{ operator.id }}</td>
                  <td>{{ operator.monitored }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
{% endblock %}

