{% extends 'base.html' %}

{% block content %}
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <p class="display-6">
        Using the program:
    </p>
    <p>
        Please select a stop from the table below. The stops are grouped by direction of travel.
    </p>
    <p class="display-6">
        What is happening:
    </p>
    <ul>
        <li>
            If the stop table is outdated or empty, query stops for the selected operator from 511.org and
            store in the stop table. Stop table provide information on stop name and location.
        </li>
        <li>
            If the stop pattern table is outdated or empty, query stop patterns for the selected line from 511.org and
            store in the stop pattern table. Stop pattern table provide information on what stops are associated with
            the selected line. Additionally, it provides stop order and route direction
        </li>
    </ul>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="direction0-tab" data-bs-toggle="tab" data-bs-target="#direction0" type="button" role="tab" aria-controls="direction0" aria-selected="true">{{line.direction_0_name}}</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="direction1-tab" data-bs-toggle="tab" data-bs-target="#direction1" type="button" role="tab" aria-controls="direction1" aria-selected="false">{{line.direction_1_name}}</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="direction0" role="tabpanel" aria-labelledby="direction0-tab">
          <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Stop</th>
              <th scope="col">Stop Id</th>
            </tr>
          </thead>
        <tbody>
            {% for stop in direction_0_stops %}
                <tr>
                    <td><a href="{{ url_for('routes.render_eta', operator_id=line.operator_id, stop_id=stop.stop_id) }}">{{stop.stop_name}}</a></td>
                    <td><a href="{{ url_for('routes.render_eta', operator_id=line.operator_id, stop_id=stop.stop_id) }}">{{stop.stop_id}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="tab-pane fade show active" id="direction1" role="tabpanel" aria-labelledby="direction1-tab">
    <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Stop</th>
              <th scope="col">Stop Id</th>
            </tr>
          </thead>
        <tbody>
            {% for stop in direction_1_stops %}
                <tr>
                    <td><a href="{{ url_for('routes.render_eta', operator_id=line.operator_id, stop_id=stop.stop_id) }}">{{stop.stop_name}}</a></td>
                    <td><a href="{{ url_for('routes.render_eta', operator_id=line.operator_id, stop_id=stop.stop_id) }}">{{stop.stop_id}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>


{% endblock %}
