{% extends 'base.html' %}


{% block content %}
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <p class="display-6">
        Using the program:
    </p>
    <p>
        Please select a line from the list below.
    </p>
    <p class="display-6">
        What is happening:
    </p>
    <ul>
        <li>
            If the line table is outdated or empty, query lines for the selected operator from 511.org and
            store in the line table.
        </li>
    </ul>
    <p class="display-6">
        Lines:
    </p>
    <table>
        <tbody>
            {% for line in lines %}
                <tr>
                    <td><a href="{{ url_for('routes.render_stops', operator_id=line.operator_id, line_id=line.line_id) }}">{{line.line_id}}</a></td>
                    <td><a href="{{ url_for('routes.render_stops', operator_id=line.operator_id, line_id=line.line_id) }}">{{line.line_name}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
